<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

[[${Status}]]

<form action="AddUrl" method="get">
<table>
<tr>
<td>FEED NEWS URL : </td>
<td><input type="text" name="addNewsUrl" placeholder=""></td>
</tr>
<tr>
<td>ORGANIZATION'S NAME : </td>
<td><input type="text" name="orgName" placeholder=""></td>
</tr>

<tr>
<td></td><td><input type="submit" value="Feed!" class="test"></td>
</tr>
</form>
</table>

<a href="Test">SHOW DATA VISUALIZATION</a><br>
<a href="GlobalDataVisualization">GLOBAL DATA</a>
</body>
</html>